// Specific CSS for your index_coach_activities

#coach_activities-index {
  .card-product {
    margin: 15px 0 15px 0;
    border-radius: 15px;
    background-color: #181a1b;
  }

  .search-coach {
    margin-top: 30px;
  }

  .search-coach input {
    height: 60px;
    width: 100%;
    font-size: 20px;
  }

  .col-8 a {
    color: white;
    text-decoration: none;
  }

  .col-8 a :hover {
    color: #861388;
  }

  .mapboxgl-popup {
  max-width: 200px;
  }

  .mapboxgl-popup-content {
  color: black;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  }
}
