// Specific CSS for your index_coach_activities

#coach_activities-index {

  .container-wrapper {
    height: calc(100vh - 50px);
  }

  .home-searchbar {
    height: 40px;
    width: 500px;
    min-width: 250px;
    padding-left: 30px;

    .search-input {
      background: #3d3d3d;
      color: #E5E5E5;
    }
  }

  .btn-yellow {
    font-size: 18px;
    width: 260px;
    padding: initial;
  }

  .card-product {
    margin: 15px 0 15px 0;
    border-radius: 15px;
    background-color: #3D3D3D;
  }

  .search-coach {
    margin-top: 20px;
  }

  .search-count {
    padding-left:30px;
  }

  .search-coach input {
    height: 45px;
    width: 375px;
    font-size: 20px;
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
  }

  .search-coach input[type="submit"] {
    border-radius: 0px 10px 10px 0px;
    height: 45px;
    width: 160px;
    background: #FF9900;
    color: #282828;
    -webkit-appearance: none;
  }

  .cards-product {
    height: 75vh;
    overflow-y: scroll;
    padding-right: 150px;
    padding-left: 30px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .cards-product a {
    color: white;
    text-decoration: none;
  }

  .card-product:hover {
    transform: scale(1.03);
    transition: ease 0.5s;
  }

  .list-coaches {
    padding: 30px;
    margin-left: 12px;
    width: 50%;
  }

  .active-card {
    border: solid 4px #FF9900;
    transform: scale(1.03);
    transition: ease 0.5s;
  }

  .mapboxgl-canvas {
    width: 570px;
  }

  .result-count {
    margin-top: 50px;
    color: #E5E5E5;
  }

}
