#coach_activities-show {

  .info-coach {
    padding-top: 35px;
    padding-left: 35px;
  }

  .coach-name h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 37px;
    color: #E5E5E5
  }

  .coach-name-rating {
    padding-top: 90px;
    padding-left: 25px;
    font-style: italic;
    color: #FF9900;
  }

  .coach-rating img {
    width: 30px;
  }

  .speciality-coach {
    margin-top: 20px;
    margin-left: 45px;
  }

  .speciality-coach h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    color: #E5E5E5
  }

  .button-specialities {
    width: 150px;
    background: #FF9900;
    border-radius: 24px;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: #282828;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    border-style: none;
  }

  .button-specialities-secondary {
    width: 150px;
    background: #3D3D3D;
    border-radius: 24px;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: #FF9900;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    border: 1px solid #FF9900;
  }

  .button-specialities:hover {
    text-decoration: none;
  }

  .row-button-specialities {
    display: flex;
  }

  .activity {
    width: 495px;
    height: 330px;
    padding-top: 130px;
    padding-left: 65px;
  }

  .activity h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #E5E5E5
  }

  .activity p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #E5E5E5;
  }

  .card-booking-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .activity-price {
    display: flex;
  }

  .activity-price h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    color: #282828;
  }

  .activity-price h3 {
    place-self: flex-end;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #282828;
  }

  .activity-name h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #282828
  }

  .form-wrapper {
    margin-block-start: 15px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .string {
    background: #FF9900;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #282828
  }

  .integer {
    background: #FF9900;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #282828
  }

  .form-control{
    background: #FF9900;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #282828 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #282828;
  }

  .form-control::placeholder {
    color: #282828;
  }

  .form-control:focus {
    box-shadow: none;
  }

  .button-form {
    display: block;
    margin: 30px auto 0;
    width: 325px;
    height: 70px;
    background-color : #282828;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Montserrat !important;
    font-size: 20px;
    color: #FF9900;
  }

  .button-form.link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

  .row-review-count {
    display: flex;
    align-items: baseline;
  }

  .row-review-count h2 {
    padding-right: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: #FF9900
  }

  .row-review-count h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #E5E5E5;
  }

  .reviews p {
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #E5E5E5;
  }

  .review-header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .review-map-container {
    padding-top: 320px;
    padding-bottom: 50px;
    margin-block-start: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .modal-content {
    background-color: #3D3D3D;
    border-radius: 10px;
    width: 720px
  }

  .modal-header {
    justify-content: flex-end !important;
    border: none;
  }

  .button-close {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FF9900
  }

  .modal-body {
    margin-top: 10px;
  }


  .modal-footer {
    justify-content: space-around;
    border: none;
  }

  .flatpickr-month, .flatpickr-monthDropdown-months, .flatpickr-current-month, .numInputWrapper, .flatpickr-weekdays, .flatpickr-weekdays, .dayContainer, .flatpickr-weekday, .flatpickr-time-separator {
    background-color: #282828;
    color: #E5E5E5;
  }

  .flatpickr-day:hover {
    background-color: #3D3D3D;
  }

  .flatpickr-time input.flatpickr-minute:hover {
    background-color: #3D3D3D;
  }

  .flatpickr-time input.flatpickr-hour:hover {
    background-color: #3D3D3D;
  }

   .flatpickr-time input.flatpickr-hour, .flatpickr-time input.flatpickr-minute {
    background-color: #3D3D3D;
   }

  .flatpickr-day.selected {
    background-color: #FF9900;
    border: 3px white;
  }

}


