#registrations-edit {

  .container {
    color: white
  }

  .user-security, .user-personal, .user-coach, .user-pwd-confirmation {
    background-color: #464649;
    padding: 20px;
    margin: 20px 0 20px 0;
    border-radius: 3%;
  }

/*  .user-security, .user-coach, .user-pwd-confirmation {
    max-width: 550px;
  }

  .user-personal {
    max-width: 900px;
  }*/

}
