// Specific CSS for your home-page

#pages-home {

  h1 {
    margin: 40px 0 30px 0 ;
    font-size: 26px;
    line-height: 34px;
    font-family: "Montserrat", arial, sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: relative;
  }

  .home_prez {
    height: 60px;
  }

  .home-politik {
    margin-top: 100px;
  }
}

.browse {
  margin-top: 80px;
  text-align: center;
}
