// Specific CSS for your home-page

#pages-home {

   .background {
    height: 140vh;
    background-image: url(homepage.png);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
   }

 p {
  color: white;
}

.home_prez {
  height: 60px;
}

.nav-item .btn-yellow {
  height: 100%;
}

.headline-infos {
  display: block;
  text-align: left;
}

.headline-infos h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
}

.headline-infos h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 45px;
  padding-bottom: 40px;
}

.headline .headline-infos {
}

.arguments {
  background-color: #3D3D3D;
  color: #E5E5E5;
  columns: 3;
  column-rule-width: 4em;
  display: flex;
  justify-content: space-around;
  margin: 10vh 10vw;
}

.arg-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
}

//.browse {
  //margin-top: 80px;
  //text-align: center;
//}

