// Specific CSS for your home-page
@import "../components/footer";
@import "../components/carousel";
@import "../components/navbar";
@import "../components/sidebar";
@import "../components/button";
@import "../components/card";
@import "../components/promo";
@import "../components/home-searchbar";

@import "../config/colors";
@import "../config/fonts";


.zone-center {
    width: 100%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
}

.zone-center h1 {
  margin: 0 -50px 21px;
  font-size: 26px;
  line-height: 34px;
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  position: relative;
}

.home_prez {
  height: 60px;
}

.home-politik {
  margin-top: 30px;
}
