.container-room {
  border-radius: 5px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
}
.chat {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-rows: auto 30px;
  grid-template-areas: "messages"
  "textbox";
  overflow: hidden;
}

.new_message {
    /* width: 120%; */
    /* min-width: 600px; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* display: inline-flex; */
    font-size: 20px;
    /* bottom: 0; */
    grid-area: textbox;
    width: 100%;

    & > form {
    justify-content: center;
    display: flex;
    width: 100%;
    }
  }

  .input-message {
    height: 100%;
    width: 100%;
    width: 300px;
  }

  .input-btn {
    height: 100%;
  }

  .input-text {
    flex-grow: 1;
  }

  #messages {
    margin: auto;
    overflow-y: scroll;
    height: 100%;
    grid-area: messages;
  }


