
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e7e4303548.js" crossorigin="anonymous"></script>

<title>Home</title>

<!-- BEGIN NAVBAR -->
<!-- END NAVBAR -->

<!-- BEGIN BANNER PROMO -->
<div class="index_promo">
  <a href="#" class="promo_prime"><i class="fas fa-crown"></i>Coach PRIME</a>
  <div class="promo_text">Rejoignez nous aujourd'hui pour profiter de promotion et également de votre
  </div>
  <a href="#" class="promo_trial">Essai GRATUIT</a>
</div>
<!-- END BANNER PROMO -->

<div class="container">
  <!-- BEGIN BIG SEARCH BAR -->
  <h1>Trouvez le coach de vos rêves :</h1>
  <div class="home-searchbar">
    <%= form_tag coach_activities_path, class: "barsearch", method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control search-input", placeholder:"Coach, spécialité..."%>
    <%= button_tag "Rechercher", class: "btn-purple" %>
    <% end %>
  </div>
  <div class="browse">
    <h1>Partez à la découverte...</h1>
    <%= link_to "Parcourir", activities_path, class: "btn-purple" %>
  </div>
  <!-- END BIG SEARCH BAR  -->

  <div class="container home-politik">
    <h1>Notre politique</h1>
    <div class="row text-center">
      <div class="col-md-3">
        <img src= "https://image.flaticon.com/icons/svg/1161/1161388.svg"class="home_prez" alt="#">
        <h3>Besoin du Meilleur</h3>
        <p>Nous sommes ici pour vous proposer les <b>meilleurs</b> coach dans leur domaines</p>
      </div>
      <div class="col-md-3">
        <img src="https://image.flaticon.com/icons/svg/2917/2917805.svg" class="home_prez" alt="#">
        <h3>Les Sports</h3>
        <p>Ipsa minus nesciunt aut iste,<b>Sport</b>, fugiat quod <b>Facile</b></p>
      </div>
      <div class="col-md-3">
        <img src="https://image.flaticon.com/icons/svg/2945/2945620.svg" class="home_prez" alt="#">
        <h3>Disponibilité</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit <b>Situé</b> mauris eu risus</p>
      </div>
      <div class="col-md-3">
        <img src ="https://image.flaticon.com/icons/svg/2916/2916115.svg" class="home_prez" alt="#">
        <h3>Le Zeyo</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit <b>Gratuit</b> mauris eu risus</p>
      </div>
    </div>
  </div>
</div>

<!-- *** BEGIN FOOTER *** -->
<!-- *** END FOOTER *** -->
