<div class="container">
  <div class="activities-browse">
    <h1>Liste des activités disponibles</h1>
    <div class="s-wysiwyg">
      <div id="dpsp-content-top" class="héo">
        <div id="ez-toc-container" class="counter-flat counter-numeric">
          <div class="ez-toc-title-container">
            <p class="ez-toc-title">Sommaire</p>
            <span class="ez-toc-title-toggle"></span>
          </div>
          <nav>
            <ul class="ez-toc-list">
              <li><a href="#Sports_dendurance">Sports d’endurance</a></li>
              <li><a href="#Sports_de_force">Sports de force</a></li>
              <li><a href="#Sports_collectifs">Sports collectifs</a></li>
              <li><a href="#Sports_de_raquette">Sports de raquette</a></li>
              <li><a href="#Sports_individuels">Sports individuels</a></li>
              <li><a href="#La_danse">La danse</a></li>
              <li><a href="#Sports_de_combat">Sports de combat</a></li>
              <li><a href="#Sports_de_glisse">Sports de glisse</a></li>
            </ul>
          </nav>
        </div>
        <div>
          <div>
            <% @activities.each do |activity| %>
            <h2><span><%= activity.name  %></span></h2>
            <figure id="attachment_13748"  style="width: 800px" class="wp-caption aligncenter">
              <img class="wp-image-13748 size-full" src="https://www.foodspring.fr/magazine/wp-content/uploads/2019/03/190410-fs-magazine-33-sportarten.-10.jpg" alt="#">
              <figcaption id="caption-attachment-13748" class="wp-caption-text"></figcaption>
            </figure>
            <p><%= activity.description %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
