<div class="result-search">
  <h2>Vos coach disponibles</h2>
  <% @users.each do |user| %>
  <h5><%= user.first_name %></h5>
  <ul>
    <li><%= user.licence %></li>
    <li><%= user.location %></li>
    <li><%= user.legal %></li>
  </ul>
  <% end %>
</div>
