.btn-purple {
  background-color: #861388;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
}

.btn-grey {
  background-color: #464649;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
}

.bouton_form {
  background-color: #5DFDCB;
  font-weight: bold;
}

.form-wrapper h2 {
  color: #5DFDCB;
  font-weight: bold;
}
