.btn-orange {
  background-color: #FF9900;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
  text-align: center;
}

.btn-orange:hover {
  box-shadow: 0 0 10px white;
}

a.btn-orange {
  text-decoration: none;
}

a.btn-orange:hover {
  color: white;
}

.btn-grey {
  background-color: #464649;
  color: white;
  height: 35px;
  border-radius: 5px;
  padding: 10px 10px;
}

.bouton_form {
  background-color: #5DFDCB;
  font-weight: bold;
}

.form-wrapper h2 {
  color: #5DFDCB;
  font-weight: bold;
}
