.btn-green {
  background-color: #17a349;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
}

.btn-grey {
  background-color: #464649;
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
}
