.card-product {
  overflow: hidden;
  //height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 20px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  flex-grow: 1;
}

.card-product-infos h2 {
  font-size: 40px;
}

.card-price h3 {
  color: white;
}


.card-container {
  display: block;
}

.card-coach {
  margin-top: -796px;
  margin-left: 23px;
  width: 680px;
  height: 439px;
  left: 145px;
  top: 192px;
  background: #3D3D3D;
  box-shadow: 5px 4px 20px #1B1F23;
  border-radius: 10px;
}

.card-activity {
  margin-top: 376px;
  margin-left: 118px;
  width: 699px;
  height: 451px;
  left: 248px;
  top: 604px;
  background: #0D0D0D;
  box-shadow: 5px 4px 20px #1B1F23;
  border-radius: 10px;
}

.card-booking {
  margin-top: -385px;
  margin-left: 649px;
  width: 529px;
  height: 549px;
  left: 781px;
  top: 262px;

  background: #FF9900;
  box-shadow: 5px 4px 20px #1B1F23;
  border-radius: 10px;
}






.card-product-coach-activity {
  background: transparent;
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center;
}

.card-product-coach-activity .card-product-infos {
  padding: 16px;
  margin-left: 10px;
}

.card-product-coach-activity .card-product-infos h2 {
  font-size: 100px;
  color: #292F36;
}

.card-product-coach-activity .card-product-infos p {
  font-size: 30px;
  color: #292F36;
}

