.filter-search {
  margin: 15px 0 15px 0;
}

.filter-search .filter {
  padding: 7px 15px;
  display: inline-block;
  color: black;
  background-color: #FCDF45;
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
  margin-right: 5px;
  border: 1px solid black;
}

#search-box {
  display: inline-block;
  border: 0 solid;
  padding-left: 5px;
  font-size: 14px;
  min-width: 240px;
  color: #2C3E50;
  height: 26px;
  margin-top: 15px;
}

.filter-search i {
  margin-top: 20px;
}

#reset {
  padding: 10px 15px;
  color: #777;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
}
