.filter-search {
  margin: 15px 0 15px 0;
}

.filter-btn {
  width: 110px;
  height: 45px;
  padding: 7px 15px;
  display: inline-block;
  color: #FF9900;
  border: solid 2px #FF9900;
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
  margin-right: 5px;
  text-align: center;
}

#search-box {
  display: inline-block;
  font-size: 14px;
  min-width: 240px;
  margin-top: 15px;
}

.filter-btn .active {
  color: #282828;
  background-color: #FF9900;
}
