.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
}

.main-footer {
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-left: 0;
    margin-left: -5px;
    text-align: center;
    height: 15px;
}

.main-footer ul li {
  display: inline;
  list-style: none;
}

.main-footer a {
  color: #FF9900;
}

.main-footer a:hover {
  color: white;
}
