.home-searchbar {
  height: 60px;
  width: 100%;
  min-width: 600px;
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.home-searchbar {
  display: inline-flex;
  font-size: 20px;
}

.home-searchbar input {
  float: right
}

.barsearch {
  display: contents;
}

.search-input {
  height: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
}

.btn-orange {
  height: 100%;
}
