.home-searchbar {
  height: 60px;
  width: 100%;
  min-width: 600px;
  display: flex;
  box-shadow: 0 0 20px 0 cyan;
  border-radius: 8px;
}

.home-searchbar {
  display: inline-flex;
  font-size: 20px;
}

.home-searchbar input {
  float: right
}

.barsearch {
  display: contents;
}

.search-input {
  height: 100%;
}

.btn-purple {
  height: 100%;
}
