.dash-link {
    // margin-left: -10px;
    background-color: #282828;
    color: #FF9900;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid #FF9900;
    // border-radius: 10px;
  }

  .dash-link.top {
    // border-radius: 0px 10px 0px 0px;
  }

  .dash-link.middle {
    border-radius: none;
  }

  .dash-link.bottom {
    // border-radius: 0px 0px 10px 0px;
  }

  .dash-link.active {
    background-color: #FF9900 !important;
    color: #282828 !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
  }

  .dash.dash-pills {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    border: 1px solid #FF9900;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
  }

 .dash.dash-pills a:hover {
    text-decoration: none;
    color: #FF9900;
  }
