.nav-link {
    margin-left: -10px;
    background-color: #282828;
    color: #FF9900;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF9900;
  }


  .nav-link.top {
    border-radius: 0px 10px 0px 0px;
  }

  .nav-link.middle {
    border-radius: none;
  }

  .nav-link.bottom {
    border-radius: 0px 0px 10px 0px;
  }

  .nav-link.active{
    background-color: #FF9900 !important;
    color: #282828 !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
  }

  #v-pills-tab {
    position: fixed;
    height: 100vh;
    justify-content: center;
  }
