.index_promo {
  width: 100vw;
  height: 13px;
  display: flex;
  margin-top: 5px;
  align-items: center;
  padding: 1rem 0;
  background-color: #17a349;
  color: white;
  /* z-index: 100; */
  /* flex: 1 1 auto; */
  /* font-size: 0.75rem; */
}

.prime_text {
  color: white;
  margin-right: 8px;
  flex: 0 1 60%;
}

.promo_prime {
  font-weight: 700;
  white-space: nowrap;
  flex: 0 1 20%;
  margin-right: 10px;
  text-align: right;
}

.promo_trial {
  font-weight: 700;
  white-space: nowrap;
  margin-left: 8px;
  flex: 0 1 20%;
}
