.index_promo {
  position: sticky;
  width: calc(100vw - 15rem);
  height: 13px;
  z-index: 100;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: 0.75rem;
  background-color: #17a349;
  color: white;
}

.prime_text {
  color: white;
  margin-right: 8px;
  flex: 0 1 60%;
}

.promo_prime {
  font-weight: 700;
  white-space: nowrap;
  flex: 0 1 20%;
  margin-right: 10px;
  text-align: right;
}

.promo_trial {
  font-weight: 700;
  white-space: nowrap;
  margin-left: 8px;
  flex: 0 1 20%;
}
