<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="canvas-game">
  <p>HOW TO PLAY - Shoot = <u>space bar</u> & Move = <u>arrow keys</u></p>
  <p><em>Or play with mouse input & mobile touch.</em></p>
  <canvas id="404-game" width="640" height="640"></canvas>
</div>
